<link rel="import" href="../../bower_components/polymer/polymer.html">

<!--
`cs-friend`
A element to display a friend on codeschool

@demo demo/index.html 
-->

<dom-module id="cs-friend">
  <template>
    <style>
      :host {
        display: -webkit-inline-box;
		border-style: groove;
		padding: 8px;
      }
	  a:link {
		text-decoration: none;
	  }
      .boxout{
		display: inline;
	  }
	  .boxin{
		display: inline;
	  }

	  .textp {
		color: black;
		position: relative;
		left: 5px;
		word-wrap: break-word;
		margin: 0;
		line-height: 15px;
	  }
	  .userimage {
		display: inline;
        border-radius: 50%;
		height: 70px;
		width: 70px;
	  }
	  .iconimage {
		position: relative;
		top: 2px;
		left: 5px;
		height: 27px;
		width: 62px;
		border: 0;
		padding: 0;
		min-width: 0;
	  }
	  .textspan{
		display: block;
	  }
    </style>
	<input id="owner" type="hidden" value="[[idowner]]" >
	<input id="other" type="hidden" value="[[idother]]" >
			<table>
			<tr>
				<td>
					<a href="[[link]]">
						<img class="userimage" src="[[image]]">
					</a>
				</td>
				<td>
					<table>
					<tr>
						<td>
							<a href="[[link]]">
								<p class="textp"></p>
							</a>
						</td>
					</tr>
					<tr>
						<td>
							<button class="iconimage" on-tap="handleTap" >[[icon]]</button>
						</td>
					</tr>
					</table>
				</td>
			</tr>
			</table>
  </template>

  <script>
    Polymer({

      is: 'cs-friend',

      properties: {
		name: {
			type: String,
			observer: "_onChanged"
		},
		image: {
			type: String,
			value: function () {
                    return  location.origin + "/components/cs-friend/2b97481.jpg";
                } 
		},
		link: {
			type: String,
		},
		icon: {
			type: String,
		},
		idowner: {
			type: Number,
			value: -1
		},
		idother: {
			type: Number,
			value: -1
		}

      },
	  handleTap: function(){
			idfriend = this.$.owner.value;
			idother = this.$.other.value;
			node = this.$$(".iconimage");
			srvice("/accounts/addfriendshipstatus/",{
				   idowner: idfriend,idother: idother, status: 1}).then(function(result){
							if(result == "Sucefully added friend"){
								par = node.parentNode;
								par.removeChild(node);
								srvice.dialog({html: result});
							}
							
						
				   });
      }, 
	  ready: function(){
				   name = this.name.toString();
				   names = new Array();
				   count = (name.match(/ /g) || [] ).length;
				   if(count == 1){
						espace = name.search(" ");
						firstname = name.substring(0,espace);
						lastname = name.substring(espace+1);
						names.push(firstname,lastname);
						
				   }else if(count == 2){
						espace = name.search(" ");
						firstname = name.substring(0,espace);
						lastname = name.substring(espace+1);
						espace = lastname.search(" ");
						firstlastname = lastname.substring(0,espace);
						names.push(firstname,firstlastname);
				   }
				   p = this.$$(".textp");
				   console.log(p);

				   names.forEach(function(item){
						sfn = document.createElement('span');
						sfn.textContent = item;
						sfn.classList.add("textspan");
						sfn.classList.add("style-scope");
						sfn.classList.add("cs-friend");
						p.appendChild(sfn);
				   });
				   console.log(count);

	  },
	  _onChanged: function(oldname,name){
				   
	  }

    });
  </script>
</dom-module>
