<link rel="import" href="../../bower_components/polymer/polymer.html">

<!--
`cs-friend`
A element to display a friend on codeschool

@demo demo/index.html 
-->

<dom-module id="cs-friend">
  <template>
    <style>
      :host {
        display: inline;
      }
	  a:link {
		text-decoration: none;
	  }
      .boxout{
		display: inline;
	  }
	  .boxin{
		display: inline;
	  }

	  .textp {
		color: black;
		position: relative;
		left: 5px;
	  }
	  .userimage {
		display: inline;
        border-radius: 50%;
		height: 50px;
		width: 50px;
	  }
	  .iconimage {
		display: inline;
		height: 20px;
		width: 20px;
	  }

    </style>
	<input id="owner" type="hidden" value="[[idowner]]" >
	<input id="other" type="hidden" value="[[idother]]" >
	<div class="boxout">
		<div class="boxin">
			<a href="[[link]]">
				<img class="userimage" src="[[image]]">
			</a>
		</div>
		<div class="boxin">
			<table>
			<tr>
				<td>
					<a href="[[link]]">
						<p class="textp">[[name]]</p>
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<button on-tap="handleTap" style="background: url([[icon]])"/>
				</td>
			</tr>
			</table>
		</div>
	</div>
  </template>

  <script>
    Polymer({

      is: 'cs-friend',

      properties: {
		name: {
			type: String,
			value: 'Gustavo'
		},
		image: {
			type: String,
			value: function () {
                    return  location.origin + "/components/cs-friend/2b97481.jpg";
                } 
		},
		link: {
			type: String,
			value: '/teste'
		},
		icon: {
			type: String,
			value: function () {
                    return  location.origin + "/components/cs-friend/add.png";
                } 
		},
		idowner: {
			type: Number,
			value: -1
		},
		idother: {
			type: Number,
			value: -1
		}

      },
	  handleTap: function(){
			idfriend = this.$.owner.value;
			idother = this.$.other.value;
			alert(idfriend);
			alert(idother);
      }, 
	  ready: function(){
		
	  }
    });
  </script>
</dom-module>
