{% extends "base.jinja2" %}
{% block content_title %}
{{_("Manage your FriendShips") }}
<script>
function ManagerUsers(name,nrmaxpages,hasbutton){
			this.name = "friends";
			this.nrpage = 1;
			this.nrmaxpage = 2;
			this.element = document.querySelector("." + this.name);
			this.hasbutton = true;
			
			this.haspages = function(){
				if(this.nrpage == this.nrmaxpage){
					return false;
				}
				return true;
			};
			this.createFriend = function(hasbutton){
				var friend = document.createElement("cs-friend");
				console.log("hasbuntton on createFriend",hasbutton);
				if(hasbutton){
					friend.setShowButton("true");
				}else{
					friend.setShowButton("false");
				}
				return friend;
			};
			this.handleResult = function(element,createFriend,hasbutton){
				return function(data,textStatus,jqXHR){
					for(key in data){
						var user = data[key];
						var friend = createFriend(hasbutton);
						friend.setAll(user.name, "Adicionar",{{ user.pk }}, user.pk,user.mugshot,user.username);
						element.appendChild(friend);
					}
				}
			};
			this.getMoreUsers = function(){
				if(this.haspages()){
					srvice("/accounts/paginatorFriend/",{nrpage:this.nrpage,search: this.name}).
					then(this.handleResult(this.element,this.createFriend,this.hasbutton));
				}
			};
};
function ManagerFriends(){
	this.components = new Array();
	this.text = " ";
		
	this.addComponents = function(name,nrmaxpage,hasbutton){
		this.components[name] = new ManagerUsers(name,nrmaxpage,hasbutton);
	};

	//when the page load, it has not item selected yet
	this.notify = function(){
		var search = $("#friends-tab")[0].querySelector('paper-tabs').focusedItem;
		if(search){
			console.log("search");
			search = search.textContent.replace(/\W/g,"").toLowerCase();
			this.components[search].getMoreUsers();
		}
	};

};
$(document).ready(function(){
	var manager = new ManagerFriends();
	manager.addComponents("friends",2,"false");
	bindPaperTabs($("#friends-tab")[0]);
	$(window).scroll(function() {
		if($(document).height() > 30){
			if($(window).scrollTop() + $(window).height() > $(document).height() - 500) {
				manager.notify();
 	 	    }
	   }
	});
});
</script>
{% endblock %}
{% block content_body %}
<div id="friends-tab">
            <paper-tabs selected="{{selected}}" id="contact-tabs">
                <paper-tab>{{ _('Friends') }}</paper-tab>
                <paper-tab>{{ _('Colleagues') }}</paper-tab>
                <paper-tab>{{ _('Staff') }}</paper-tab>
                <paper-tab>{{ _('Pending') }}</paper-tab>
            </paper-tabs>
            <iron-pages id="friends-iron-pages" selected="{{selected}}">
				<div class="friends">
						{% for friend in user.friends %}
							<cs-friend showbutton="false" name="{{ friend.get_full_name }}" idowner="{{ user.pk }}" link="/accounts/{{friend.username}}/" idother="{{ friend.pk }}" icon="Adicionar" image="{{ friend.profile.get_mugshot_url }}"></cs-friend> 
						{% endfor %}
				</div>
				<div class="colleagues">
						{% for friend in user.colleagues %}
							<cs-friend showbutton="true" name="{{ friend.get_full_name }}" idowner="{{ user.pk }}" link="/accounts/{{friend.username}}/" idother="{{ friend.pk }}" icon="Adicionar" image="{{ friend.profile.get_mugshot_url }}"></cs-friend> 
						{% endfor %}
				</div>
				<div class="staff">
				</div>
				<div class="pending">
						{% for friend in user.colleagues %}
							<cs-friend showbutton="true" name="{{ friend.get_full_name }}" idowner="{{ user.pk }}" link="/accounts/{{friend.username}}/" idother="{{ friend.pk }}" icon="Aceitar" image="{{ friend.profile.get_mugshot_url }}"></cs-friend> 
						{% endfor %}
				</div>
			</iron-pages>
</div>

{% endblock%}
