{% extends "base.jinja2" %}
{% block content_title %}
hello it is me
{% endblock %}
{% block content_body %}
{% for x in range(50) %}
{% for friend in user.colleagues %}
		<cs-friend name="{{ friend.get_full_name }}" idowner="{{ user.pk }}" link="/accounts/{{friend.username}}/" idother="{{ friend.pk }}" icon="Adicionar" image="{{ friend.profile.get_mugshot_url }}"></cs-friend> 
{% endfor %}
{% endfor %}
<cs-friend name="{{ user.get_full_name }}" idowner="4" idother="3" icon="Aceitar" image="{{ user.profile.get_mugshot_url }}"></cs-friend> 

{% endblock%}
